<div class="questions-page">
    <h1 class="app-h1">Let's fix any of your problem!</h1>
    <div class="questions-page__content">
        @if (isChainQuestion()) {
            <yon-question [question]="chainQuestion()" (questionAnswered)="questionAnswered($event)"></yon-question>
        }
        @if (isResult()) {
            <yon-result
                [result]="finalQuestion().result"
                [showActionButtons]="true"
                (retakeQuestions)="retakeQuestions()"
                (openQuestionsTree)="openQuestionsTree()"
            ></yon-result>
        }
    </div>
</div>
