<div class="question">
    <h4 class="question__value">
        {{ question?.question }}
    </h4>
    <div class="question__answers">
        @for (answer of question?.answers; track $index) {
            <button
                class="app-button"
                [ngClass]="answer.value.toLowerCase() + '-button'"
                [class.disabled]="showLoaderForId()"
                [disabled]="showLoaderForId()"
                (click)="answerSelected(answer)"
            >
                @if (showLoaderForId() === answer.id) {
                    <span class="app-loader" [class.inverted-colors]="answer.value === yesNo.YES"></span>
                } @else {
                    {{ answer.value }}
                }
            </button>
        }
    </div>
</div>
